<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">{{nota.title}}</div>
            <div class="panel-body">
            	<div class="form-group">
					<pre id="pastetext">{{nota.pastetext}}</pre>
           		</div>
           		<button class="btn btn-primary" onclick="copy()">Copy</button><br>
            </div>
        </div>
    </div>
</div>



